[2019-09-27 11:01] skoehnen opened #1 "Add Readme"

[2019-10-08 08:37] xgui3783 opened #7 "x, y, z as enum for axis is not very useful?"
In neuroimaging, I would imaging it would make sense to refer to the coordinate convention over axis enum?

i.e.:

[code]

[2019-10-08 08:47] xgui3783 opened #8 "definition of origin"
I know it was me who proposed to have origin as a field in SAND schema, but having a coordinate may be a self-referencing.

For example, if a space defines the origin to be `[75,135,12]`, assuming um as unit, it is 75um, 135um, 12um from where?

I wonder if the origin should be an enum (PIR origin of volume FILENAME.nii.gz) or an ontology (Weighted center of hippocampus)

[2019-10-08 08:55] skoehnen commented on #8
The idea is that the image origin is in relation to the right-hand-rule.
A fixed coordinate space where the origin can be described.

On Tue, Oct 8, 2019, 10:48 xgui3783 <notifications@github.com> wrote:

[2019-10-15 12:36] lzehl opened #9 "get rid of plane"
Planes do not exist in real data, because brain slices always have a thickness.
Would it not be better to define only boxes and points?

Best, Lyuba

[2019-10-15 12:40] skoehnen opened #10 "Methods should refer to MINDS"

[2019-10-15 12:41] skoehnen commented on #10
Method ontology, speak with Tom

[2019-10-15 12:42] skoehnen opened #11 "Use file ref from MINDS"

[2019-11-14 12:16] skoehnen opened #15 "Add descriptions to fields"

[2019-11-14 12:17] skoehnen opened #16 "Make the connection of unit to spacing and origin in default-image more clear"

[2019-11-14 13:57] skoehnen opened #17 "Default image needs source to file (Object in MINDS)"

[2019-11-14 13:58] skoehnen opened #18 "Alias for default image"

[2019-11-14 13:58] skoehnen opened #19 "Unique ID"

[2019-11-14 13:58] skoehnen opened #20 "Transformation link in space"

[2019-11-14 13:58] skoehnen opened #21 "Example with box object"

[2020-09-03 06:50] #1 closed

[2020-09-03 07:11] lzehl opened #26 "schema-revision: core/anatomicalEntity.schema.json"
1. delete `performedBy`?
    * not needed, because implicitly clear through source and/or annotation I think
    * anatomicalEntity "just" represents the name/term of an annotation can be either drawn from:
      * a known source (user-defined annotation is named after an anatomicalEntity from a known atlas)
      * or custom made (user-defined annotation is named with a user-defined anatomicalEnt

[2020-09-03 07:13] lzehl opened #27 "schema-revision: core/annotation.schema.json"
1. delete `performedBy`
2. discuss linkage between `annotation` and `anatomicalEntity`
    * should be `annotation` -> `annotationToEntity` -> `anatomicalEntity`
    * why? because in principle there are three cases:
      * atlas annotation is linked to its anatomical entity / terminology term used in that atlas
      * user-defined annotation is linked to an anatomical entity of a defined atlas

[2020-09-03 07:14] lzehl opened #28 "schema-revision: annotationToEntity.schema.json"
1. the `verifiable` property only makes sense to me between user-defined annotations to atlas defined entities
2. even then its not really `verifiable` but just the confirmation/judgment of the curator that needs to be captured here
3. can this be solved differently?

[2020-09-03 07:15] lzehl opened #29 "schema-revision: brainAtlas.schema.json"
1. should `terminology` be schema or just a property (see below)
2. is the `referenceDataset` not implicitly given by the files of `annotationSet`/`terminology`/`coordinateSpace`?

[2020-09-03 07:17] lzehl opened #30 "schema-revision: core/entityToEntity.schema.json"
1. this should only be used between entities from different sources
2. I'm not sure if confidence should be a number, because this could also be only semantic

[2020-09-03 07:19] lzehl opened #31 "schema-revision: core/terminology.schema.json"
1. replace `anatomicalDefinitions` wiht `anatomicalEntities`
2. can a terminology have versions that are independent of the atlas version?
    * yes -> keep the element and use it to group the corresponding entities
    * no -> delete scheman, keep it only as property of brainAtlas and directly connect to the corresponding entities

[2020-09-03 07:51] lzehl opened #32 "schema-revision: elements/annotationFile.schema.json"
1. rename property or schema `annotationFile`
    * property: `definedIn`, schema: `annotationFile` or `annotationStorage` ?

[2020-09-03 07:52] lzehl opened #33 "schema-revision: elements/coordinates.schema.json"
1. add a `definedIn` ?

[2020-09-03 07:53] lzehl opened #34 "schema-revision: elements/image.schema.json"
1. what is in `spacing` ? not defined yet (can't remember the purpose of this)

[2020-09-03 07:54] lzehl opened #35 "schema-revision: options/axes.schema.json"
1. `origin` and `directions` should be an array of numbers no?
2. if `anatomicalLables` is the semantic version of `directions` do we also need one for `origin`?

[2020-09-03 07:56] lzehl opened #36 "schema-revision: options/indexingParameters.schema.json"
1. I'm not yet happy about decoupling units from the values (holds for all units...) if I remember correctly we can have nested schemas now, so maybe we should always combine those?

[2020-09-09 11:50] UlrikeS91 commented on #36
Agreed. I would prefer to nest them.

[2020-09-09 12:02] UlrikeS91 commented on #35
1. What was `directions` supposed to be again? (1 0 0), (0 1 0) and (0 0 1)? `origin` should be an array of number, yes. Also as a general comment to that (since it applies to several schemas): We should limit the items of the array to 3, right?
Like this:
{
  "type": "array",
  "minItems": 3,
  "maxItems": 3
}
Or are there cases where this is not true and we need fewer/more items?

2. I would say

[2020-09-09 12:07] UlrikeS91 commented on #35
Follow-up question (maybe a stupid one...): The `indexingParameters` have units for the `axesMin` and `axesMax`, do we need `units` in the `axes`-schema then? Do `directions` need units?

[2020-09-09 12:10] UlrikeS91 commented on #33
What would be the advantage of having `definedIn` here? It could be added as an optional feature, but if there are no real advantages to this, I don't see why we should add it.

[2020-09-09 12:19] UlrikeS91 commented on #32
Not sure what you are asking exactly. Adding `definedIn` here makes sense as an optional property to be able to point to the original file the annotation comes from.

I agree that one of the `annotationFile` parts should be renamed to make it less confusing. If we were to rename the schema to `annotationStorage`, I would intuitively expect that you can point to a repository where one or several an

[2020-09-09 12:22] UlrikeS91 commented on #31
2. No idea... @aeidi89, could you maybe comment on this?

[2020-09-09 12:25] UlrikeS91 commented on #31
1. done

[2020-09-09 12:32] UlrikeS91 commented on #30
1. Agreed.
2. Not sure if numbers will be the best, but maybe we should rather ask: How should we define the `confidence` and what should it describe? Should this be as Ingvild is doing to describe how well areas are related to each other ("identical", "overlapping", etc.)? This would mean that `entityToEntity` is more of a check how well the attached annotation reflects another with the same name

[2020-09-09 12:36] UlrikeS91 commented on #29
1. Depends on the answers to issue #31.
2. A clear yes for me. I would remove it. We could keep it as an optional property, if the others like to keep it though.

[2020-09-09 12:45] UlrikeS91 commented on #28
I would remove it all together. Our original thought was to give an estimation for whether or not an user-`annotationToEntity` can be verified as correct by a curator (given in its own curator-`annotationToEntity`). This is mostly a provenance/curation progres tracking thing. I don't think these things should be recorded with SANDS (or at least not with the first version of it). Curators do record

[2020-09-09 13:03] UlrikeS91 commented on #27
1. Agreed.
2. I'm not a fan of `annotation` -> `annotationToEntity` -> `anatomicalEntity`. The only information it gives, is who made the connection (`performedBy`), which is again more provenance/curation progress tracking. I would prefer Lyuba's proposal with definingTerm and relatedTerm. Potentially the relatedTerm could be redundant, if we were to use `entityToEntity` on the definingTerm to es

[2020-09-09 16:55] lzehl commented on #26
point-01:
@aeidi89 : if it's relatively easy to add properties again, we could leave out all provenance related properties. question would come back to the point if provenance is useful here (in the purpose of SANDS).
@UlrikeS91 : also in openMINDS provenance is not really covered.
-> leave it out

point-02:
@aeidi89 : always be able to point to an ontology, but how is that technically done?
-> so

[2020-09-09 17:08] lzehl opened #37 "electrode schemas"
@aeidi89 mentioned this (possibly interesting): https://www.biorxiv.org/content/10.1101/447995v1.full.pdf

- seems like this paper is looking exclusively at how to track and analyze electrodes in slice histology
- this might be approach-wise closer to tracks of biopsies

Nonetheless good to keep in mind. And of potential interest for the image service I guess.
Please see the next comment for the s

[2020-09-15 07:34] lzehl commented on #9
I close this issue for now since it is outdated

[2020-09-15 07:34] #9 closed

[2020-09-15 07:39] aeidi89 opened #38 "Update JSON schema"
Update the current 0.7 JSON schema to 0.9 JSON schema.

[2020-09-15 08:49] aeidi89 opened #39 "Additional documentation for checking correctness within inside-schema properties"
Here we should comment on the dependency-check between inside-schema properties (property cross-check).
These dependencies are difficult to express within a schema, but they are necessary for the logic of the schema and to be able to use SANDS as we wish.

Example: an annotation is connected on a 1-1 basis with a term for a specific version of a reference atlas. In the brainAtlas schema both the p

[2020-09-15 09:13] lzehl commented on #7
This should be the controlled terms for "anatomicalLables" in "axes.schema.json". See #35

[2020-09-15 09:22] lzehl commented on #8
This is part of the "axes.schema.json". See #35

[2020-09-15 09:23] lzehl commented on #10
I close this issue because it's outdated. For the current schemas we do reference to MINDS / openMINDS schemas.

[2020-09-15 09:23] #10 closed

[2020-09-15 09:24] lzehl commented on #11
Done.

[2020-09-15 09:24] #11 closed

[2020-09-15 09:27] lzehl commented on #15
In progress. Workflow is clear. Usually responsible is @aeidi89 . I close this issue, because we keep track of open issues for each schema now individually (cf. #26-#36)

[2020-09-15 09:27] #15 closed

[2020-09-15 09:35] lzehl commented on #16
- spacing is now handled in "indexingParameters.schema.json" #36
- origin is now handled in "axes.schema.json" #35
- unit appears in both
Further discussions should be in those issues. I close this one.
Also related and in need of revision is "image.schema.json" #34

[2020-09-15 09:35] #16 closed

[2020-09-15 09:41] UlrikeS91 opened #40 "schema-revision: core/coordinateSpace.schema.json"

[2020-09-15 09:42] lzehl commented on #17
- default image is now called "image.schema.json" #34 which has the property "definedIn" that links to "fileInstance" -> MINDS/openMINDS
- "defaultImage" is a property of "coordinateSpace" #40 which needs discussion, because currently links directly to "fileInstance", but should maybe link to "image.schema.json"
Further discussions should be handled in those issues. I'll close this one.

[2020-09-15 09:42] #17 closed

[2020-09-15 09:44] lzehl commented on #18
"defaultImage.schema.json" is now "image.schema.json" #34
Content should be discussed in that issue. I close this one

[2020-09-15 09:44] #18 closed

[2020-09-15 09:45] lzehl commented on #19
I close this issue because it's outdated.

[2020-09-15 09:45] #19 closed

[2020-09-15 09:47] lzehl commented on #20
Pending at the moment. Should be part of the discussion for "coordinateSpace.schema.json" #40
Also, it was decided that "transformation" will be handled as an activity, meaning as a "protocol" / "protocolExecution" via openMINDS.

[2020-09-15 09:49] lzehl commented on #21
Use cases are currently pending. This use case will be tightly connected to #20

[2020-09-15 09:54] lzehl commented on #39
Very nice! Let's keep track of the individual dependencies collectively here. For each dependency scenario/case make sure to reference the corresponding schemas (e.g., via the revision-schema issues).

[2020-09-15 11:16] lzehl opened #41 "controlledTerms - idea and implementation"
Within MINDS (v1/v2) we have/had a lot of schemas that hold only a "name" property (e.g., for species). The corresponding JSON-LDs in the KG should actually contain controlled terms that in the best case also link to an ontology (e.g., for species).

The discussion about optimizing this ended in a schema construct which is named "controlledTerms" which will for the KG only be created by curators,

[2020-09-15 11:35] UlrikeS91 commented on #39
**`anatomicalEntity`:**
- `source` is optional, but is required for being connected to `brainAtlas` (a brain atlas version has to have a terminology)
- `parentStructure` (= another `anatomicalEntity`) has to have the same source as the child

- `parentStructure` allows shaping your own hierarchy, but EBRAINS/HBP goal for SANDS is to capture the atlas structures as they were published --> `parentSt

[2020-09-15 11:45] UlrikeS91 commented on #38
To do so, the validator has to be updated along with the actual change. @lzehl and I talked about this and thought it would be nice to update the validator to a more general one that can check against different drafts dependent on the draft used within schemas with `"$schema": "http://json-schema.org/draft-XY/schema#"`. --> If XY is 07, check against `Draft7Validator`. If XY is 09, check against `

[2020-09-15 12:25] lzehl commented on #37
Let me start with a couple of definitions / assumptions:
1) an **electrode** is considered to be a physical element (shaft, disk) that has at least one *recording point/surface*
  a) an **electrode** should have an *identifier*
2) the *recording point/surface* of an **electrode** is called **electrodeContact**
3) an **electrodeContact** is defined by it's **identifier**, *central coordinate point*

[2020-09-15 13:09] lzehl commented on #37
Now let me summarize the basic outline of electrode schemas based on these definitions / assumptions:

1) [**coordinate.schema.json**](https://github.com/HumanBrainProject/SANDS/wiki/SANDS-(v0.1)#id-httpsschemaebrainseusandscorecoordinatesschemajson-)
  1.1) *coordinate* [expects: array of three number-items]
  1.2) *coordinateSpace* [expects: object, ref to **coordinateSpace.schema.json**]

2) **

[2020-09-15 14:15] lzehl commented on #40
1) in documentation `defaultImages` property points to "fileInstance.schema.json", but should it not point to the "image.schema.json" instead?

[2020-09-15 14:19] lzehl commented on #34
@UlrikeS91 & @aeidi89 : could you please comment here? I think it's the only open issue in this schema.

I think `spacing` is covered with the **axes.schema.json** in combination with the **indexingParameters.schema.json**
Am I correct?

[2020-09-15 14:21] lzehl commented on #33
I thought about it a bit more and agree. It makes much more sense to reference to the "fileInstance" where also the file internal identifier is set. Please cf. **electrodeContact** in #37

[2020-09-15 14:28] lzehl commented on #31
@aeidi89 Could you please comment on point 2? I think we discussed it a bit and you said it can be versioned correct?

[2020-09-16 06:50] aeidi89 commented on #40
1. The way that both the "coordinateSpace.schema.json" and the "image.schema.json" is written ([on the wiki pages](https://github.com/HumanBrainProject/SANDS/wiki/SANDS-(v0.1))), yes.

[2020-09-16 07:22] aeidi89 commented on #34
1. What was meant with `spacing` is how far it is between 2 points (given that this is a fixed value, which I think it almost always will be). E.g. the unit of a system might be mm, but the spacing can be 1 --> 1 mm between two points, or it could be 2 --> 2 mm between two points, and so on.

I agree with you @lzehl that `spacing` could be covered by the property `steps` in the **[indexingParamete

[2020-09-16 07:31] aeidi89 commented on #31
2. Yes, a terminology can be versioned.
In context of a reference brain atlas, every version of an atlas has a corresponding version of the terminology used in that atlas. In addition, that versioned terminology can be versioned further, for instance to address spelling mistakes. This should be checked with @tgbugs.

[2020-09-16 16:18] lzehl commented on #26
@UlrikeS91 & @aeidi89 : please comment on the following as soon as you can!

I'm currently generating example JSON-LDs for the Julich-Brain Atlas (v2.0), as test instances for the atlas viewer team.

I'm struggling with `laterality` being a property of the *anatomicalEntity.schema.json*, because I have to make four JSON-LDs per region (2 anatomicalEntities + 2 annotations) to unambiguously connect

[2020-09-17 07:50] blixilla commented on #37
@lzehl I think this is a good starting point. I think it makes sense to have this hierarchy with electrodeArray/electrodes/electrodeContacts.

I tried to play around and apply it to a rat use-case, the one with an EEG array (these are epidural electrodes, more precisely surgical implantation of a chronic array of 17 stainless steel electrodes covering most of the cortical areas of a rat brain);
![

[2020-09-17 08:25] aeidi89 commented on #26
Question 1, `laterality`: Moving `laterality` from _[anatomicalEntity.schema.json](https://github.com/HumanBrainProject/SANDS/wiki/SANDS-(v0.1)#anatomicalEntity)_ to _[annotation.schema.json](https://github.com/HumanBrainProject/SANDS/wiki/SANDS-(v0.1)#annotation)_ sounds logical to me.

[2020-09-17 08:44] aeidi89 commented on #26
**Question 2, pm and mpm:** given what I read in this [link](https://download.brainvoyager.com/bv/doc/UsersGuide/ProbabilisticMaps/ProbabilisticMaps.html) it sounds like pm and mpm technically are separate annotations, as they show different information.

In the context of a reference atlas, if the mpm is what has been published, we should only consider this and ignore the pm (as this is part of t

[2020-09-17 08:54] aeidi89 commented on #39
**Moving property `laterality` from _[anatomicalEntity.schema.json](https://github.com/HumanBrainProject/SANDS/wiki/SANDS-(v0.1)#anatomicalEntity)_ to _[annotation.schema.json](https://github.com/HumanBrainProject/SANDS/wiki/SANDS-(v0.1)#annotation)_** (Ref. issue #26)

- When removing information about laterality from the region (anatomicalEntity) to the annotation we must ensure that bi-lateral

[2020-09-17 09:33] GMattheisen commented on #37
7.2, 6.4 Manufacturer (datatype: str) You may also want to allow for distributions. I have encountered numerous datasets where they array is a custom build and it is good to link out to the paper, pdf, or the like for a description.

We also discussed the possibility of a flag as a property of electrodecontactschema (2). I have seen data where channels are dropped or tagged if they recording quali

[2020-09-17 09:54] lzehl commented on #37
@blixilla thanks a lot for your comments. Here my feedback:

*"In general, would you say SANDS is intended to contain metadata necessary for visualization in the atlas viewer, or should it also contain other interesting metadata for the user (e.g. 6.4 manufacturer). What is covered by openMINDS? What is covered in your schemas, @GMattheisen?"*
- for now SANDS should focus on how to provide metadat

[2020-09-17 10:26] lzehl commented on #40
Then this can be corrected in the code accordingly.
@UlrikeS91 : let me know if you have time, otherwise I'll put it on my list ;)

[2020-09-17 10:35] lzehl commented on #34
Yes, the connection is indirect from **image.schema.json** to **axes.schema.json** to **indexingParameters.schema.json** (reference chain).

I would say we can then delete `spacing` form **image.schema.json**.
@UlrikeS91 let me know if you have time to update the code, or if I should put it on my list.

[2020-09-17 11:28] lzehl commented on #26
Hi, I should have been more specific: I talk about the **pm** and **mpm** of the Julich-Brain Atlas.

The **mpm** is the definitely the product of all **pm**s for one Julich-Brain Atlas version.
From my point of view that would make the **pm**s be the `inspiredBy` for the mpm annotation.

NOTE: `definedIn` should not lead to a **coordinateSpace**, but to a or multiple **fileInstance**!
Side note:

[2020-09-17 11:49] xgui3783 opened #43 "Fixing malformed json & fixing refs to sands-internal, accepting PR?"
Hi all,

Whilst browsing through the repo, I came across a few malformed JSON & reference to sands-internal (e.g. https://github.com/HumanBrainProject/SANDS/blob/master/v0.1/core/coordinateSpace.schema.json#L42)

Are you currently accepting PR to fix minor issues like this?

[2020-09-17 12:34] aeidi89 commented on #40
@lzehl: yes, you understood me correctly.

Then you get the indirect linking: `defaultImage` of _**coordinateSpace.schema.json**_ points to _**image.schema.json**_ which have `definedIn` that points to _**fileInstance.schema.json**_.

[2020-09-17 17:03] tgbugs commented on #31
A terminology can be versioned. I usually think about a terminology as a single file in a git repo. Each version would be a different revision of the file. There are some types of changes that don't induce any changes in the actually content of the terminology, but most of the time we don't have to worry about those.

[2020-09-18 08:50] lzehl commented on #32
I thought about it a bit more and I suggest not to introduce another property name to point to a *fileInstance.schemas.json*, but stick to the one we typically use which is `definedIn`. In this case there is no name conflict with the schema `annotationFile`.
Alternatively I could imagine a property `storedIn` or `representedIn` instead of `definedIn`.

The original file (*fileInstance.schemas.json

[2020-09-18 10:38] blixilla commented on #37
@lzehl Sounds good to focus on viewer integration 👍 Thanks for all the thorough explanations :)

a few comments:

2.3: Ah, of course. For many of the rodent cases there are only very few coordinate pairs, so I was thinking we would write them directly in the JSON. Yes, I was thinking that the fileInstance could be directed to an annotated image.

3.3 and 4.3: I see, yes, I guess we can leave it ou

[2020-09-18 11:01] lzehl commented on #37
:slightly_smiling_face: you're welcome!

for 2.3: I was originally thinking that electrode coordinates should be always saved in a separate file, but I agree that this might be inconvenient in some cases. So linking to an image as source as well could simplify this. On the other hand we need to rethink this a bit what it means for the rest of the model... specifically the annotation.schema.json an

[2020-09-18 11:05] blixilla commented on #37
Cool, that sounds like a good plan :)

[2020-09-21 10:28] lzehl opened #44 "Entry type for "relatedOntology""
@tgbugs : what entry type do we want to have for `relatedOntology` property?
Please see below for the more detailed questions

What was the previous way / what was discussed:
A) current status in the KG:
  - `relatedOntology` property expects `$ref` to KG ontology JSON-LD (specific type, e.g. `ontologies/core/organism/v1.0.0/xxx`)
  - this prevents to link to any ontology but the ontology terms th

[2020-09-22 06:36] aeidi89 commented on #27
#37 _electrode schema_

These issues are connected, and have to be discussed in the light of eachother.

[2020-09-22 07:24] lzehl commented on #37
Decisions made for the electrode schemas (present: @UlrikeS91 ,  @aeidi89 , @blixilla , @lzehl ):
- leave out `manufacturer` property for now (push it to in-depth part of the schemas)
- do now go into detail about the *Types* (can be resolved/discussed also later and is not needed for a first working version of the schemas for atlas viewer purposes)
- implement first version of schemas in **elemen

[2020-09-23 08:02] lzehl commented on #27
This issue is highly connected to #32

[2020-09-23 08:21] lzehl commented on #27
As a summary, here my suggestion on how to change annotation & annotationFile

- **annotation.schema.json**:
  - criteria [expects: protocol | protocolExecution, count: 1]
  - criteriaType [ expects: asserted | processive, count: 1]
  - annotationFiles [expects: annotationFile, count: 1 - N]
  - definingTerm [expects: anatomicalEntity, count: 1]
  - relatedAtlasTerm [expects: anatomicalEntity, cou

[2020-09-23 08:34] lzehl commented on #43
Thanks for bringing it up :+1: We are aware. I'm fixing it asap.

[2020-09-23 12:29] lzehl commented on #29
Based on the discussion in #27 we should
1) change brainAtlas.schema.json to brainAtlasVersion.schema.json
2) introduce a brainAtlas.schema.json for grouping the different brainAtlasVersion.schema.json
3) need to link between brainAtlasVersion.schema.json (defined connections; e.g. : newVersionOf; alternativeVersionOf)
4) change `version` property to `versionIdentifier`
5) add `changeLog` to prope

[2020-09-24 10:28] lzehl commented on #43
@xgui3783 I've created PR fixing the malformed JSON & references to sands-internal.

Sorry that I overlooked your last point: YES we do accept PRs that are fixing such issues.
We are very happy for feedback and support :smiley:

[2020-09-24 10:40] #43 closed

[2020-09-28 07:18] lzehl commented on #32
Based on the discussions in #27 this schema needs to be merged with annotation schema also discussed in #27

[2020-09-29 07:27] lzehl opened #48 "pattern for `@type`"
@olinux how do we define the pattern for `@type` in SANDS (v0.1) and openMINDS (v3.0)?

Options:
1. `"@type": "https://schema.hbp/sands/SchemaName"`
2. `"@type": "https://schema.hbp/SchemaName"`
3. `"@type": "https://schema.ebrains/sands/SchemaName"`
4. `"@type": "https://schema.ebrains/SchemaName"`

Or something even different?

[2020-09-29 07:36] apdavison commented on #48
Slightly tangential to the topic, but:

If openMINDS and SANDS are supposed to be open standards, then I think they should have their own domains, e.g.

"https://openminds.net/schema/" or "https://openminds.eu/schema/", plus "http://sands.eu/schema", etc.

At the least we should have an openminds domain - SANDS could be considered a subsidiary schema, since I guess it needs to be used in conjuncti

[2020-09-29 07:54] lzehl opened #49 "pattern for `@id`"
@olinux how do we define the pattern for `@id` in SANDS (v0.1) and openMINDS (v3.0)?

Old way (MINDS v1.0 & uniMINDS v2.0, example a "parcellationatlas" plus the generalized pattern):
- `"@id": "minds/core/parcellationatlas/v1.0.0/94c1125b-b87e-45e4-901c-00daee7f2579"`
- `"@id": "schemamodel/schemacategory/schemaname/v1.0.0/uniqueidentifier"`

How can we simplify this or make it more intuative for

[2020-09-29 08:04] lzehl commented on #48
@apdavison  : this is a good point and highly related to what I wrote in #49.
I think having openMINDS as its own domain with all extensions (tier 2 and tier 3) would be nice.
Do you think that the corresponding schemas should also be merged into one GitHub Repo then?

[2020-09-29 09:25] apdavison commented on #48
No, I think it's ok to keep them in separate repos.

[2020-09-29 11:47] lzehl commented on #48
okay. that makes it unnecessary to think about restructuring the repos :+1:

[2020-09-29 14:15] lzehl commented on #27
Based on the discussion we had I will update the following in my next PR:

    annotation.schema.json:
        criteria [expects: protocol | protocolExecution, count: 1]
        criteriaType [ expects: asserted | processive, count: 1]
        definingTerm [expects: anatomicalEntity, count: 1]
        relatedAtlasTerm [expects: anatomicalEntity, count: 0 - N]
        inspiredBy [expects: image, cou

[2020-09-30 07:30] Majpuc commented on #37
Hi, nice progress on electrodes! I wonder if you have considered injection electrodes used for tract-tracing experiments? I guess all your already defined metadata will fit well and some additional ones specific for this type could be added, like electrode entry point, depth and injection volume ?

[2020-09-30 07:40] apdavison commented on #37
@Majpuc I think the injection volume would belong to the in-depth metadata. Depth seems like it belongs in SANDS, as this is definitely spatial information, but perhaps that information is already available in the coordinates, or can be calculated from the coordinates and the position of the cortical surface in the atlas?

[2020-09-30 07:50] Majpuc commented on #37
Yes, a valid point. If both the coordinates of the entry point of the electrode and the contact point (the tip) are recorded, this can be calculated. Thanks!

[2020-09-30 08:00] UlrikeS91 commented on #37
@apdavison I agree with you on the injection volume. The depth however is is tricky to calculate at the moment. The way it is planned at the moment, we won't capture the entry point of the electrode, only the contact point of the tip in the brain. Given that electrodes can be inserted with an angle (on purpose or by accident), the distance to the cortex surface would only be an estimation of the d

[2020-09-30 08:06] apdavison commented on #37
@UlrikeS91 Depth is critical, as it tells you which layer (and hence which possible cell types) you are recording/stimulating in. It is often measured precisely using histology, so probably it would be best to have a field for it even if it could in principle be calculated.

[2020-09-30 08:16] UlrikeS91 commented on #37
Thanks for the info, Andrew. I assume that Lyuba will respond herself later too, but if not, I'll point this out to her in our next meeting.

[2020-09-30 08:43] lzehl commented on #37
@Majpuc glad you like the basic layout of the electrode schemas :slightly_smiling_face: I would assume that capturing metadata for tract-tracing of injection electrodes would be an extension to the current set of schemas. I currently would aim for that tract-tracing as performed in the paper mentioned at the top of this issue, would be captured in the annotation.schema.json (which would need a rev

[2020-09-30 08:59] lzehl commented on #29
According to the discussion I will implement now the following schema revisions in a PR:

brainAtlasVersion.schema.json:
    alias [expects: free text , count: 1]
    annotationSet [ expects: annotation , count: 1 - n]
    coordinateSpace [expects: coordinateSpace, count: 1]
    fullName [expects: free text, count: 1]
    newVersionOf [expects: brainAtlasVersion, count: 0 - n]
    alternativeVersi

[2020-09-30 12:32] Majpuc commented on #37
@lzehl Thanks for considering this. I don't have any strong preference but it seems that having a (penetrationPoint.schema) might be useful for all electrodes. I'll let you decide :)

[2020-10-02 11:17] lzehl commented on #27
@aeidi89 we still need your feedback considering the expected entities (amount) for `definingTerm` and `relatedAtlasTerm`.
+ I guess we agree that `relatedAtlasTerm` should be optional
+ I guess we agree that `definingTerm` should be mandatory
+ should we allow more than one entry for `relatedAtlasTerm`?
   - possible use case: user-defined annotation is related to "V1" (atlas X), "hOc1" (altas Y)

[2020-10-02 11:21] lzehl commented on #32
was merged into annotation. PR already integrated

[2020-10-02 11:21] #32 closed

[2020-10-02 11:22] lzehl commented on #29
done in #51

[2020-10-02 11:22] #29 closed

[2020-10-02 11:27] lzehl commented on #28
- solved differently now; directly solved in annotation via "definingTerm" and "relatedAtlasTerm" in addition to official terminologies identifiable via their connection to an ontology

[2020-10-02 11:27] #28 closed

[2020-10-02 11:40] lzehl commented on #30
summary of what need to be done; properties:
- anatomicalEntityObject (anatomicalEntity, count 1)
- anatomicalEntitySubject (anatomicalEntity, count 1)
- relationType (controlledTerm, count 1) ["identical", "subset", "superset] (match with Ingvild's list)
- procentualOverlap (integer (0 - 100), count 0 - 1)
- confidence (controlledTerm, count 1)

[2020-10-02 11:49] lzehl commented on #31
- alias (1)
- anatomicalEntities (1-n)
- definedIn (minds/file | openminds/fileinstance, 0-n)
- fullName (1)
- relatedOntology (0-1)
- releaseDate (date, 1)
- versionIdentifier (1)
- newVersionOf (0-1)
- alternativeVersionOf (0-n)
- versionInnovation (0-1)

[2020-10-02 11:59] lzehl commented on #33
double check and "release" / close this issue
+ rename schema to coordinatePoint.schema.json (correct related schemas and definitions)
+ what to do with actual coordinates:
   @xgui3783 : all three in one property as array? or in separate properties split in x, y, z ?
   @xgui3783 : do you assume / want to have coordinates in physical units or in pixel? (Note: I guess from the user perspective we

[2020-10-02 12:03] lzehl commented on #34
summary of properties:
- axes (axes, count: 1)
- definedIn (file | fileInstance, count: 1)

[2020-10-02 12:18] lzehl commented on #35
summary of properties:
- origin (array of integers (0 to 1), items count:3) @xgui3783 : correct ??? what is assumed here as 0, 0 , 0 (right-handed Cartesian coordinate system ? this is unitless correct?)
- units (controlledTerm, count: 1)
- mathematicalDirections (array of integers (0 to 1), items count: 3, array count: 3) @xgui3783 : correct ??? this is unitless correct?
- anatomicalDirections (c

[2020-10-02 12:45] xgui3783 commented on #33
@lzehl

I would have assumed this would be clear from [coordinateSpace](https://github.com/HumanBrainProject/SANDS/blob/b1de4cc/v0.1/elements/coordinates.schema.json#L25-L28) -> [axes](https://github.com/HumanBrainProject/SANDS/blob/b1de4cc8f58399b43efca61912eceb95107e7169/v0.1/core/coordinateSpace.schema.json#L47-L50) -> axes (links broken) ?

[2020-10-02 12:47] xgui3783 commented on #33
@lzehl

From my perspective, either makes sense, but in a lot of ways, will depend on how axes is defined?

[2020-10-02 12:49] lzehl commented on #36
summary of properties:
- units (controlledTerm, count:1) @xgui3783 : keeping this separate from the values only makes sense if we assume the unit is the definition for one step; e.g.:  1 == 1µm)
- axesMin (float, count:1) @xgui3783 : float would make sense to me if we assume here physical units, correct?
- axesMax (float, count:1) @xgui3783 : float would make sense to me if we assume here physical

[2020-10-02 13:04] xgui3783 commented on #27
@lzehl from my side, I can't see anything that's urgently needed. That is to say, until we start to incoorperate into our applications and workflows, we won't find any.

I am indeed very excited about producing SANDS conforming data already in some existing applications.

[2020-10-02 13:29] xgui3783 commented on #36
@lzehl

Firstly, maybe not related:

for `indexingParameters.schema.json`, we have:

[code]

but in some others, e.g. `visualizationParameters.schema.json`:

[code]

is it worthwhile standardising the pattern for `@id`, or is this is deliberate choice?

re: issue at hand, this, IMO is very technical, and I question the necessity of it being in SANDS. I vaguely recall why this is necessary, for Lio

[2020-10-02 13:47] lzehl commented on #33
- I'm happy to stick to one property with array with values for x, y, z
- axes links are not broken you cannot directly use them as urls though; direct urls are defined in definitions.json to reduce maintenance issues
- units are defined in axes (#35) and/or indexingParameters (#36)
- questions still remains for which property we assume the physical units or pixes/voxels or unitless values (I don'

[2020-10-02 13:49] lzehl commented on #27
@xgui3783 thanks for the feedback here. We'll can add properties of course also later when we see we need them.

Happy that you're joining the SANDS development :slightly_smiling_face: I'm looking forward to test the model with you soon!

[2020-10-02 13:50] xgui3783 commented on #35
@lzehl Can I clarify that `axes.schema.json` is meant to represent **all** axes in a coorindate space?

I struggle to understand why origin is needed at all. I would have understood the origin is by definition [0,0,0] in a 3D space. If a non 0 value is provided, then one must ask the question, the origin is [20, 20, 20], relative to what.

This is something which I will need input from @skoehnen .

[2020-10-02 13:53] xgui3783 commented on #33
I mean axes in definitions are broken:

[code]
from <https://github.com/HumanBrainProject/SANDS/blob/b3b6612/v0.1/definitions.json#L63-L66>

but should be

[code]

[2020-10-02 13:56] xgui3783 commented on #33
re: physical vs pixel/voxel, it will largely depend on the coordinateSpace, no?

if the coordinateSpace is an unregistered volume/image, it is likely going to be unitless/voxel/pixel, whereas if it is a HBP supported reference space, it will likely be in physical space (mm or um)?

[2020-10-02 13:57] lzehl commented on #36
@xgui3783 : please ignore the `@id` for now. I'm waiting on some feedback for the pattern from the KG Team and then consistently correct all in all schemas.

As far as I can read from your feedback the technical part needs some more discussion with you, and Stefan and maybe Time?
I would like to get the schemas consistent with what you need from the technical perspective (for the viewer and the sp

[2020-10-02 14:01] xgui3783 commented on #36
@lzehl  I would like to join a meeting with @skoehnen , you and any other stakeholders for sure, before meeting with Timo.

I know you are on holiday, so I think I will have a talk with stefan next week first, and get a technical understanding of the spatial indexing.

PS, aren't you on holiday?

[2020-10-02 14:04] lzehl commented on #35
Yes! thanks that you brought this up. I did not understand this part as well completely, because it originates from some discussions we had with Lionel, way back...

1) yes, axes.schema.json was now meant to represent ALL axes
Feel free to make a counter suggestion if you think each axes should be represented individually

2) I (and Ulrike) have the same question about the origin...
I assumed that

[2020-10-02 14:09] lzehl commented on #33
a) the coordinateSpace does not have any resolution only the defaultImage that is connected to the coordinateSpace, correct? So number of pixels/voxels for each axes should be defined in indexingParameters or in image?
b) the coordinateSpace should define what 1 is, correct? which should be the unit stated in the axes?
c) for coordinates that means that I expect the coordinates to be delivered in

[2020-10-02 14:12] lzehl commented on #36
I am on holiday, but pushing SANDS and openMINDS is urgent... We anyway will have a meeting with Timo next week to discuss support for openMINDS and SANDS. It would be great if you me and Stefan could sort out the coordinate, coordinateSpace, axes, indexingParameters, image schemas beforehand.

[2020-10-02 14:25] xgui3783 commented on #35
Now that i step back a bit, I think it does make sense to have the axes represented in a single object.

Then shouldn't it reside in a `description` field of some kind? something like

[code]

Or would you prefer to have a number of **controlled_terms** for common origins? e.g. 2D image (top left), brain atlas (somewhere in the middle) etc?

this indeed is my opinion

Hmm, I think I remember this

[2020-10-02 14:35] xgui3783 commented on #33
I agree that coordinateSpace does not have any resolution. But at the same time, the unit of the axes associated with the coordinateSpace is not necessarily voxel/pixel, no? For Big Brain etc, for example, it **could** be mm/um (I would argue that it should be). For a non registered image/volume (e.g., histological scan), it can be either.

I agree. The unit needs to be defined, or explicitly defi

[2020-10-02 14:36] lzehl commented on #35
- for the description; this is not an option because it is a specific description of a specific use case not the on of a schema.
- since the discussion with the origin seems to be a bit more complex I would prefer solving this one in a meeting
- the min/maxAxes then seems to be indeed better placed in indexingParameters
- general meaning and usage of indexingParameters should be also discussed in

[2020-10-05 11:39] lzehl commented on #34
Discussion with Xiao and Stefan:
- an image has it's in intrinsic coordinate space
- for this reason the image should point also to a coordinate space
- the axes then only needs to be defined in the coordinate space
- this means though that the indexingParameters need to be placed at the image not at the axes, because it belongs to the image or actual file not the coordinate space

[2020-10-05 12:48] lzehl commented on #35
- "units" should be "unit" because it's just defining what step "1" means in each direction
- "indexingParameters" need to be removed here, and put to the image schema (cf. discussion in #34 )
- "origin" needs to be clearly defined (origin in relation to what?)
- "directionsMatrix" should be considered again? (@xgui3783 & @skoehnen please continue discussion)

[2020-10-05 13:42] UlrikeS91 commented on #27
After discussion with @aeidi89, we conclude:

- `definingTerm`= mandatory and `relatedAtlasTerm` = optional (as you suggested)
- `definingTerm` with 1 - N seems illogical --> there shouldn't be 2 definitions for one item; either name of property is misleading or it shouldn't be several. In terms of atlases and terminology versioning, this would be a neat solution, but is it for anything else?
- `r

[2020-10-05 13:58] UlrikeS91 commented on #27
Addentum:
Even though several `anatomicalEntities` are allow for `relatedAtlasTerm`, it should only be within one atlas and not across several. This should only give the opportunity to say that the annotation is related to several regions within one version. Across versions/atlases IS handled by ontology.
`definingTerm` can be within and across atlas versions BUT never across different atlases. Al

[2020-10-05 14:17] lzehl commented on #27
`relatedAtlasTerm`: within atlas version YES, across atlas versions NO, across different atlases NO
- this is very restrictive assume that everything across atlas versions and across atlases is handled via the ontology, which is especially across atlases in a lot of cases not the case right now...
- I would not be that restrictive, but we can always start like that and change to a lower restrictio

[2020-10-05 14:41] xgui3783 commented on #35
@skoehnen I still struggle to understand how `directionsMatrix` solves the issues of:

- how one defines `origin` (top left image? top left front post point of a volume?)
- `orientation`, as in, whether the increment of the first index result in translation in the LR/AP/SI direction

I wonder if we need to define where the origin is, rather than how it is defined. Consider nifti transform header.

[2020-10-05 14:49] lzehl commented on #35
@skoehnen this sounds like it would work. Would it work for all cases (all anatomicalOrientations?) besides RAS?

[2020-10-06 06:01] UlrikeS91 commented on #31
Note: If agreed to proposal in #27 to rename `terminology` to `atlasTerminology`, we need to start another PR following to first revision PR to:
1) Change schema name
2) Change `"$ref"` to `...#definitions/ATLAS_TERMINOLOGY"` in `anatomicalEntity` and `brainAtlasVersion`
3) Change definitions.json file with the changes

[2020-10-06 07:54] UlrikeS91 commented on #27
Conclusion from meeting for annotation schema:
Changes:
- `alias` added
- `definingTerm` renamed to `namingTerm`
- `namingTerm` count changed from 1 to 1 - N

@UlrikeS91, implement changes to annotation schema as:

    alias [string (free text), count: 0 -1]
    criteria [expects: protocol | protocolExecution, count: 0 - 1]
    criteriaType [ expects: asserted | processive, count: 1]
    namingTer

[2020-10-06 09:51] lzehl commented on #35
feedback from SANDS meeting:

    axes.schema.json
        anatomicalOrientation [expects: controlledTerm; count: 1]
        origin [expects: number; count: 3]
        unit [expects: controlledTerm; count: 1]

[2020-10-06 09:51] lzehl commented on #35
feedback from SANDS meeting:

    axes.schema.json
        anatomicalOrientation [expects: controlledTerm; count: 1]
        origin [expects: number; count: 3]
        unit [expects: controlledTerm; count: 1]

[2020-10-06 10:56] lzehl opened #57 "use-case discussion: semantic anchoring"
@aeidi89 , @UlrikeS91 , @blixilla , @skoehnen I started to think about how the current model is used for pure semantic anchoring and like to here your opinion on this topic before requesting any (possibly necessary) changes / extensions to the SANDS model.

Let's assume the receptor datasets as example:

Situation in the data:
  - delivered data files contain averaged receptor density measurements

[2020-10-06 11:00] lzehl commented on #26
@UlrikeS91 we need one change here:

`source` which links to the `atlasTerminology` should be removed from this schema for two reasons:
a) `atlasTerminology` links already to `anatomicalEntity` (back link not needed)
b) `anatomicalEntity` might not be part of any `atlasTerminology`

[2020-10-06 11:01] lzehl commented on #31
yes! go ahead ;)

[2020-10-06 11:09] lzehl commented on #34
@UlrikeS91 here we need the following changes:

    image.schema.json
        coordinateSpace [expects: coordinateSpace; count: 1]
        definedIn [expects: cscs/file|openminds/fileinstance; count: 1]
        indexingParameters [expects: indexingParameters; count: 0 - 1]

[2020-10-06 11:22] UlrikeS91 commented on #26
Yes, this is true. I'll remove it. Half-related question: Did we agree on renaming terminology to atlasTerminology now? I really missed this if this has been decided on during our meeting earlier :D

[2020-10-06 11:27] UlrikeS91 commented on #31
Okay, then I missed this conclusion :D I'll make the changes in a new PR :)

[2020-10-06 11:58] UlrikeS91 commented on #33
@lzehl Can I asked why this issue has been closed? We should revise the code:

1. coordinates should have min and max Items
2. Descriptions should be added (even though not crucial)
3. $id has sand in it and not sands
4. We wanted to rename the schema to coordinatePoint (right?)

[2020-10-06 12:01] lzehl commented on #33
I closed it because the last review went through. But you are correct. Go ahead and do the corresponding changes.
I'll open the issue for this again.

[2020-10-06 13:57] olinux commented on #48
https://schema.ebrains.eu/openminds
https://sands.schema.ebrains.eu
https://neuralactivity.schema.ebrains.eu

https://core.openminds.*/dataset

[2020-10-06 17:48] tgbugs commented on #41
Make relatedOntology the fully expanded uri.

[2020-10-06 17:52] tgbugs commented on #44
Just use the IRI so that it is open. That way you can detect that the IRI has not been in ingested into KG.

[2020-10-06 17:55] lzehl commented on #48
`@type: https://openminds.ebrains.eu/sands/schemaName`

[2020-10-06 17:58] lzehl commented on #49
`@id: "free text"`

[2020-10-06 17:59] lzehl commented on #48
please also change `$id == @type`

[2020-10-06 18:24] lzehl commented on #44
:+1:

[2020-10-07 07:54] UlrikeS91 commented on #44
Okay, I'll probably go over most of the SANDS schemas today. Then I'll change the format back to IRI (instead of URI).

[2020-10-07 11:59] UlrikeS91 commented on #41
Based on recent discussions, the updated schema should look like this:

     {
       "$id": "https://openminds.ebrains.eu/sands/controlledTerms.schema.json",
       "$schema": "http://json-schema.org/draft-07/schema#",
       "description": "Schema to define controlled terms which can be linked to ontology terms.",
       "type": "object",
       "additionalProperties": false,
       "required":

[2020-10-07 12:03] UlrikeS91 commented on #36
I updated the schema based on some other things and the wiki in PR #77. Since @lzehl didn't give any instructions on other updates for this schema, I assume that it remained unchanged?

Please, let me know if something needs to be changed in the PR :)

[2020-10-08 09:13] UlrikeS91 commented on #57
I think that this can be covered by SANDS (as it is now) already:
`anatomicalEntity` only has one required field (`nameOfLocation`) and by leaving out the `relatedOntology` it indirectly says that this is user-defined. In addition, to reflect that it has been inspired by an atlas terminology, the user-defined `anatomicalEntity` can be related to the atlas term that inspired it via `entityToEntity`

[2020-10-12 14:00] lzehl commented on #36
discussion with @UlrikeS91 @xgui3783 @skoehnen

This schema is not needed anymore.
Instead we only capture `voxelSize` and `unit` as optional property in `image.schema.json`.

[2020-10-12 14:04] lzehl commented on #40
todo:
- merge `axes.schema.json` #35  into `coordinateSpace.schema.json`

[2020-10-12 14:05] lzehl commented on #35
merge into #40

[2020-10-12 14:05] #35 closed

[2020-10-12 14:08] lzehl commented on #36
cf. #34 (this schema will be deleted)

[2020-10-12 14:08] #36 closed

[2020-10-12 14:10] UlrikeS91 commented on #34
- delete `indexingParameters.schema.json`
- add `voxelSize` (array of 3 numbers) and `unit`

[2020-10-12 14:14] xgui3783 opened #78 "add example of transformation (protocol execution) conforming to current SANDS"
Per discussion on 20201012, I will provide example of transformation (also conforming to SANDS/openMINDS)

[2020-10-14 06:15] UlrikeS91 commented on #41
Update: The `controlledTerm` schema will be part of the openMINDS schemas. An additional repo will be made to collect the used JSON-LDs.

Question @lzehl: The `$ref` in the SANDS schemas need to be updated to reflect this. There are 2 options:
1) The SANDS `definitions.json` gets a definition `CONTROLLED_TERM` which in turn points to the openMINDS repo.
2) The `$ref` in each SANDS schema, that use

[2020-10-14 09:26] lzehl commented on #41
I would say option 1 should be preferred, because we could do this for all references that point to openMINDS (also file and fileInstance, dataset and datasetVersion, +?).
This way we have in each repository (or actually metadata model version) exactly one file where we need to maintain the refs: the definitions.json, which point to the raw-schemas (independent of where they are).

@UlrikeS91 Woul

[2020-10-14 10:03] blixilla opened #81 "brainSlice schemas"
Thanks for your input in the meeting Yesterday. As we talked about, I am now proposing a starting point for two new schemas to accommodate our 2D image series that may or may not be included in the next release of SANDS. However I'll work on this use-case and bring up a hopefully more thorough suggestion in the time to come.

sliceSeries.schema.json
1.1) @ type [string, constant: sliceSeries.schem

[2020-10-14 10:13] Majpuc commented on #81
Hi Camilla,
Very good. I have a question: Are metadata specific to the slice series  and the individual slices going to be captured by SANDS or openMInds or both?
Specifically, I think about sampling frequency; section thickness, bregma level, naming convention,...
Best, Maja

[2020-10-14 10:32] xgui3783 commented on #81
Just a few comments (I wasn't privy to the discussion, so it might have been discussed, and for that I apologise in advance):
- brainSlice.schema.json: I see a great parallel (but not a complete fit) to [image.schema.json](https://github.com/HumanBrainProject/SANDS/blob/master/v0.1/elements/image.schema.json), perhaps a super class? Indeed image is a linked property.
- positionInAtlas property hav

[2020-10-14 11:22] apdavison commented on #81
Sorry if I'm repeating something that was already said in the meeting, but we have Tier 3 schemas for Slice and BrainSlicingActivity (see https://github.com/HumanBrainProject/fairgraph/blob/master/fairgraph/electrophysiology.py)

I'm happy to adjust these to fit with the needs of SANDS; my main concern is to keep the separation of Entity (Slice) and Activity (BrainSlicing) so we maintain compatibi

[2020-10-14 11:43] UlrikeS91 commented on #81
It's a good start, but I'm also missing some pieces. As @Majpuc suggested, we should capture specific things to describe brain sections in SANDS, while the protocol(s) describing how the sampling has been performed should be part of openMINDS.

For a brain section (or whatever we may want to call this later), I would at least include the section thickness, the laterality (do I see a full brain sli

[2020-10-14 12:12] UlrikeS91 commented on #41
That's true. It would make the maintenance for all openMINDS objects easier, too. I'll do those updates in one big PR when Stefan has merged the last open PRs.

[2020-10-14 13:20] UlrikeS91 opened #83 "Renaming/Reorganising SANDS repo"
@lzehl mentioned this during the last meeting. The `@type` constant has been decided to be

`@type: https://openminds.ebrains.eu/sands/schemaName` for SANDS and
`@type: https://openminds.ebrains.eu/core/schemaName` for openMINDS (v3).

Since the openMINDS `@type` has "core" in it, we should rename the "core"-folder for SANDS to something else or re-organise the SANDS schemas into a different folde

[2020-10-15 07:43] blixilla commented on #81
Thank you for all your questions, suggestions and prompt feedback. I have tried to summarize from my perspective:

sliceSeries.schema.json
assumptions:
- is a series of brain sections from one brain
- could point to `brainSlice` to indicate how brain sections relate and belong to the same series
- could have an `identifier` as a dataset can contain more than one series

@ type [string, constant: s

[2020-10-15 10:22] xgui3783 commented on #81
@blixilla re: `brainSlice.schema.json` most of your revision makes sense to me. Thanks for the clarification!

re: `sectionThickness`, I wondered if we could made adjustments to [`image.schema.json#voxelSize`](https://github.com/HumanBrainProject/SANDS/blob/master/v0.1/elements/image.schema.json#L40-L48) and allow voxelSize of z to be defined as the thickness of a 2D image? (This is a point which

[2020-10-15 10:54] Majpuc commented on #81
@xgui3783 The challenge with section thickness is that the value that is known is the one chosen for cutting the brain tissue e.g. 50microm. But since brain tissue usually shrinks when stained and/or mounted onto a microscopic slide, the value differs a bit. Then, imaging of that sections is sometimes capturing the surface only or could represent a certain depth of tissue (i.e. 10-20 micrometers)

[2020-10-15 11:02] UlrikeS91 commented on #81
@xgui3783, I agree with your own conclusion. I don't think it would be good to include the slice thickness as the 3rd dimension on the `voxelSize` of an `image`. I think that there is a big difference between the depth of the content of an image, and the depth of the image itself. Even though, brain section usually have a thickness (and therefore are 3D), the image I take from the section is not a

[2020-10-16 14:29] blixilla commented on #81
Thanks for the comments, @xgui3783, @Majpuc, @UlrikeS91 and @apdavison! I'll try to take these in consideration and come up with a new suggestion for us to discuss further. Let me know if you suddenly think of any solutions in the meantime :)

[2020-10-19 16:10] lzehl commented on #83
@UlrikeS91 thanks for starting this issue.
How about **option 3**?

SANDS/main/

    atlasTerminology.schema.json
    brainAtlas.schema.json
    brainAtlasVersion.schema.json
    coordinateSpace.schema.json
    annotation.schema.json
    anatomicalEntity.schema.json
    coordinatePoint.schema.json (might also go into elements)
    image.schema.json (might also go into elements)
    visualizationPa

[2020-10-19 16:11] lzehl commented on #83
Or **option 4** no sub-categories: everything is just under SANDS directly.

[2020-10-20 09:53] lzehl commented on #81
Dear all, I want to come back to what @apdavison wrote: that there are already two schemas available in Tier 3 (extracted from https://github.com/HumanBrainProject/fairgraph/blob/master/fairgraph/electrophysiology.py):

**Slice**
- **name** (expects: free text)
- **subject**/wasDerivedFrom (expects: Subject [tier 3 schema])
- **providerID** (expects: free text)
- **brain_slicing_activity** (expect

[2020-10-20 11:40] apdavison commented on #81
Dear @lzehl, thanks for bringing this up. As you know, I've started thinking about how to make the Tier 3 schemas articulate better with the openMINDS and SANDS schemas, and had the idea of openMINDS "extensions",  like openMINDS/electrophysiology, for example, for Tier 3 metadata.

This case is an example of where we can't just add new schemas, but need to add additional fields to existing ones.

[2020-10-21 08:42] skoehnen commented on #83
I am not sure, what would be the advantages of organizing SANDS in sub-categories.

At the moment I would be in favor of a flat structure like **option 4**.

[2020-10-21 10:41] lzehl commented on #83
I prefer **option 4** as well :wink:

[2020-10-22 11:17] UlrikeS91 opened #84 "schema-revision: core/visualizationParameters.schema.json"
@aeidi89 and I have discussed all parts of SANDS and couldn't quite figure out how to interpret `visualizationParameters` correctly. This may be cause din parts by the structural changes to other parts of SANDS, but already when I updated the `visualizationParameters.schema.json` (see #70) that something was a bit confusing.

My original question in that PR was:
"Something in `definedIn` doesn't m

[2020-10-22 14:46] lzehl commented on #84
This comes back to two questions if an annotation is only defined in one file.
Last time we discussed this, this was answered with "no it might not be". If we assume multiple files (e.g., annotations stored in two different resolutions) the internal identifier of the annotation also might differ between those files.

We could also just make it simple and hope the above case never arises and assume

[2020-10-23 10:01] UlrikeS91 commented on #83
The way SANDS is right now, I also think option 4 is the best. We just need to keep in mind that it will grow, and then it may become a bit chaotic. Anyway, I would love to give option 4 a try. The fewer levels the better :)

[2020-10-27 08:53] lzehl commented on #83
Based on the feedback here and in the SANDS meeting (Oct 27) the following was decided:
- option 4 (no subdivision)

[2020-10-27 08:54] lzehl commented on #83
@UlrikeS91 will take over the PR for this

[2020-10-27 09:18] UlrikeS91 commented on #84
Conclusion during SANDS meeting:

--> move all properties to `annotation.schema.json` (therefore remove `visualizationParameters.schema.json`)
--> `definedIn` either needs to point to `fileInstance` (to be consistent within `defindeIn`) OR needs to be renamed to e.g. `visualizedIn` to point to `image` (check all schemas expecting `image` if this is possible)

(---> probably `visualizedIn` will be

[2020-10-27 09:49] lzehl commented on #57
@UlrikeS91 reduce in annotation criteria to be linked to protocolExecution only
@lzehl adopt protocolExecution output to also hold anatomicalEntity

[2020-10-27 10:03] lzehl commented on #57
Discussion outcome: @lzehl add field `semanticallyAnchoredTo` to `protocolEcecution.schema.json`

[2020-10-27 11:42] UlrikeS91 opened #86 "Checklist for next schema updates"
- [x] remove folder structure within "v0.1" (#83)

- [x] rename "v0.1" to "v1.0" (decided during meeting)

- [x] add `title` to each schema as was suggested and implemented for all openMINDS schemas (e.g. https://github.com/HumanBrainProject/openMINDS/pull/128) **--> not `title` but `_label`**

- [x] add `minItem` to all `"type": "array"` as was pointed out in https://github.com/HumanBrainProject/

[2020-10-27 12:06] xgui3783 commented on #86
when the v1.0 become finalised, can we tag a release? This is so that rather than referencing master branch? This would make generated JSON less brittle.

[2020-10-27 12:20] UlrikeS91 commented on #86
Thanks, @xgui3783! Based on our meeting earlier today (@lzehl), this is already the plan :) Feel free to give some valuable tips on how to do this best, because I have never made a release on GitHub :D

[2020-10-27 12:56] lzehl commented on #86
@UlrikeS91 for the title: see comment in https://github.com/HumanBrainProject/openMINDS/issues/128

[2020-10-27 13:03] UlrikeS91 commented on #86
Thanks!

[2020-10-27 13:07] apdavison commented on #86
I would be cautious about releasing v1.0 until the schemas have seen some use, i.e. there should first be at least a successful dry-run of the migration

[2020-10-27 13:17] UlrikeS91 commented on #86
To the `definedIn` checkpoint: I looked thorugh all SANDS schemas and these are the times we give a property that expects either `fileInstance` or `image`:

`fileInstance`:
- `atlasTerminology` --> `definedIn`
- `electrodeContact` --> `definedIn`
- `electrodeContact` --> `relatedRecordings`
- `electrodeContact` --> `relatedStimulations`
- `image` --> `definedIn`

`image`:
- `annotation` --> `defin

[2020-10-28 09:40] lzehl commented on #81
@apdavison this is a very good idea and point. I've started talking with @olinux about a similar approach for the research product schemas. We should continue this discussion, but push for the release of the next versions of SANDS and openMINDS regardless now. We should only intervene if the current model of the schemas or the schemas would cause major conflicts with this approach.

@blixilla for

[2020-10-28 09:53] lzehl commented on #30
@UlrikeS91 based on a discussion with @olinux this schema and the anatomicalEntity.schema.json need some changes.
Here the TODOs:

entityToEntity.schema.json
- rename to anatomicalEntityRelation.schema.json
- delete `anatomicalEntitySubject`
- rename `anatomicalEntityObject` to `inRelationTo`

anatomicalEntity.schema.json
- add property `otherAnatomicalRelations` [expects: anatomicalEntityRelation

[2020-10-28 13:31] UlrikeS91 commented on #30
I can do that. This makes it far easier to understand the exact relation between object and subject (which a bunch of people had problems with :D).

I've added it to my checklist #86

[2020-10-28 16:49] lzehl opened #90 "Replace "$ref""
Planned:
To enable/facilitate the validation of an individual json against the used json-schema, we'll replace all `"$ref"` references:
[code]
with the following:
[code]

This is based on a discussion and decision I made with @olinux .
This change will also lead to the point that we are not gonna maintain a definitions.json anymore.

The example for arrays will follow soon. @olinux : this should l

[2020-11-10 14:34] UlrikeS91 commented on #90
Fixed and merged with #94

[2020-11-10 14:34] #90 closed

[2020-11-10 14:35] UlrikeS91 commented on #86
Fixed and merged with #94

[2020-11-10 14:35] #86 closed

[2020-11-10 14:36] UlrikeS91 commented on #84
Fixed and merged with #94

[2020-11-10 14:36] #84 closed

[2020-11-10 14:36] UlrikeS91 commented on #83
Fixed and merged with #94

[2020-11-10 14:36] #83 closed

[2020-11-10 14:37] UlrikeS91 commented on #49
Solved differently and can be closed

[2020-11-10 14:37] #49 closed

[2020-11-10 14:37] UlrikeS91 commented on #48
solved differently and can be closed

[2020-11-10 14:37] #48 closed

[2020-11-10 14:39] UlrikeS91 commented on #44
Decided for IRI based on some discussion related to openMINDS as well. Can be closed

[2020-11-10 14:39] #44 closed

[2020-11-10 14:40] UlrikeS91 commented on #41
controlledTerms are solved differently now. This can be closed.

[2020-11-10 14:40] #41 closed

[2020-11-10 14:40] UlrikeS91 commented on #40
Revisions are finished.

[2020-11-10 14:40] #40 closed

[2020-11-10 14:42] UlrikeS91 commented on #38
@skoehnen and @lzehl, I don''t know the status of this. @xgui3783 has performed some fixes related to this issue, but is it fixed?

[2020-11-10 14:42] UlrikeS91 commented on #34
Revisions finished.

[2020-11-10 14:42] #34 closed

[2020-11-10 14:43] UlrikeS91 commented on #33
Revisions finished.

[2020-11-10 14:43] #33 closed

[2020-11-10 14:43] UlrikeS91 commented on #31
Revisions finished.

[2020-11-10 14:43] #31 closed

[2020-11-10 14:43] UlrikeS91 commented on #30
Revisions finished.

[2020-11-10 14:43] #30 closed

[2020-11-10 14:43] UlrikeS91 commented on #27
Revisions finished.

[2020-11-10 14:43] #27 closed

[2020-11-10 14:45] UlrikeS91 commented on #37
@lzehl I think we can close this issue, right?

[2020-11-10 14:46] UlrikeS91 commented on #26
Revisions finished.

[2020-11-10 14:46] #26 closed

[2020-11-10 14:48] UlrikeS91 commented on #7
We have included this as `anatomicalAxesOrientation` to `coordinateSpace.schema.tpl.json` (which points to the contorlledTerms repo that will collect these terms).

I will close this ticket.

[2020-11-10 14:48] #7 closed

[2020-11-10 14:49] UlrikeS91 commented on #8
This is very outdated and I think fixed, too. I will close this issue.

[2020-11-10 14:49] #8 closed

[2020-11-10 14:53] UlrikeS91 commented on #57
The portion assigned to me for SAND has been implemented. See https://github.com/HumanBrainProject/openMINDS_core/issues/124 for updates on `protocolExecution.schema(.tpl).json`.

@lzehl: The SANDS portion related to this is done. Should we close the issue?

[2020-11-10 17:40] lzehl commented on #57
Yes. This can be closed. Thanks for the reminder.

[2020-11-10 17:40] #57 closed

[2020-11-11 07:45] lzehl commented on #37
Leave this one open for now. I want to hear back from @apdavison first and verify again if we have a good fit with in-depth extensions.

[2020-11-16 12:18] lzehl commented on #38
@skoehnen OR @olinux : is the generator in the main openMINDS repo now using draft-07 or draft-09? or can you even choose between the json-schema draft (not sure if our schemas would actually look different...)?

[2020-11-20 09:20] skoehnen commented on #38
I am still validating for the draft 7 and haven't encountered any errors yet ;)
But with the template language we could switch the draft version without it affecting the schemas.
What do you think @olinux?

[2020-11-26 11:39] apdavison commented on #37
@lzehl I think we need to separate electrode and electrode-placement. The length of an electrode doesn't necessarily tell you the depth(s) of the recording point(s). For single electrodes and for small arrays such as tetrodes, the penetration depth is adjusted in order to find good cells, while for electrode arrays I guess the local curvature of the surface could affect the penetration depth of in

[2020-11-26 14:46] lzehl commented on #37
@apdavison I agree with you. The implemented openMINDS_SANDS schemas focus now purely on the device (hierarchy) and an already identified coordinate point for the electrode contact. The process of getting to this coordinate point is not necessarily provided / described in openMINDS.

I think right now the openMINDS_SANDS schemas could be easily extended with more "pure" device information (length,

[2020-11-26 14:46] #37 closed

[2020-11-27 21:19] skoehnen opened #105 "Add contribution guide"

[2021-01-08 14:25] apdavison opened #107 "Allow FileBundle in ElectrodeContact:relatedRecording"
Some electrophysiology file formats split recordings across multiple files in a common directory. In this scenario, the `relatedRecording` should link to a `FileBundle` rather than a `FileInstance`.

[2021-01-18 16:05] lzehl commented on #107
@apdavison yes, I agree. I'll add it asap.

[2021-02-17 08:54] UlrikeS91 commented on #107
@apdavison and @lzehl, would this apply to `relatedStimulation` too? I can create a PR with the changes (for both or only the `relatedRecording` dependent on the answer to my question.

[2021-02-17 09:16] lzehl commented on #107
@UlrikeS91 yes. Please go ahead with a PR and allow for relatedStimulation and relatedRecording FileInstance AND FileBundles to be linked.

[2021-02-26 17:47] #107 closed, assigned to UlrikeS91

[2021-02-26 17:48] lzehl commented on #81
I'll close this issue for now. We can reopen it later if necessary

[2021-02-26 17:48] #81 closed

[2021-02-26 17:49] lzehl commented on #105
A contributing guide was added, but will need refinements. We can take care of them in a separate issue though (because it will effect all openMINDS repos)

[2021-02-26 17:49] #105 closed, assigned to skoehnen

[2021-02-26 17:54] lzehl commented on #21
I believe this issue is outdated due to all the changes made in the meantime. I close this issue now

[2021-02-26 17:54] #21 closed

[2021-02-26 17:55] lzehl commented on #20
for now it was decided that this will be handle via the protocol / protocolExecution. I'll close this issue for now

[2021-02-26 17:55] #20 closed

[2021-03-04 16:30] UlrikeS91 opened #110 "Property updates"
"hasAlternaiveVersion" was changed to "isAlternativeVersionOf" (brainAtlasVersion)

[2021-03-23 17:38] UlrikeS91 opened #112 "Change "atlasTerminology" to "parcellationTerminology""
Based on a discussion with @lzehl and @tgbugs, e.g. Brodmann areas should not be captured as "atlas terminologies" because the Brodmann descriptions aren't an actual atlas. Parcellation terminology would include such cases.

(@aeidi89 FYI)

[2021-03-23 18:59] lzehl commented on #112
@UlrikeS91 thanks for immediately putting it in. Do you want to take over the PR or should I do it?

[2021-03-23 19:10] UlrikeS91 commented on #112
I can do it tomorrow :)

[2021-03-30 10:00] #110 closed, assigned to UlrikeS91

[2021-04-14 17:55] lzehl commented on #112
was solved in #114

[2021-04-14 17:55] #112 closed, assigned to UlrikeS91

[2021-04-14 18:16] lzehl opened #121 "please evaluate first draft of SANDS v2"
@UlrikeS91 could you have a look at the v2 of SANDS (note: v2 should not be integrated as a PR into v1, but remain as a separate version branch).

Most of the changes reflect exactly what we discussed with the following exceptions:
1) I've allowed an ParcellationEntity (anatomical entity of a parcellation terminology) to point to more than one ParcellationTerminology. Reason: a single atlas annota

[2021-06-15 14:34] lzehl commented on #121
was done

[2021-06-15 14:34] #121 closed, assigned to lzehl

[2021-10-14 12:48] lzehl commented on #78
@xgui3783 should we discuss extending SANDS with transformation and registration (extension of protocol execution) schemas?

[2021-10-14 13:27] lzehl opened #137 "extending/optimizing annotation objects"
Currently the AtlasAnnotation and CustomAnnotation schema are very similar:
| properties | AtlasAnnotation | CustomAnnotation |
| --- | --- | --- |
| **bestViewPoint**: linking to a CoordinatePoint instance | Y | Y |
| **coordinateSpace**: linking to a CommonCoordinateSpace OR a CustomCoordinateSpace | **N** | Y |
| **criteria**: linking to a ProtocolExecution instance | Y | Y |
| **criteriaQualit

[2021-10-14 13:41] lzehl opened #138 "extending/optimizing CommonCoordinateSpace schema"
Currently CommonCoordinateSpace schema asks for the following properties:
+ **anatomicalAxesOrientation**: linking to an AnatomicalAxesOrientation
+ **axesOrigin**: linking 2 or 3 QuantitativeValues
+ **defaultImage**: linking to the template File (default image)
+ **digitalIdentifier**: linking to a DOI
+ **fullName**: stating the full name as string
+ **homepage**: linking to an URL
+ **howToCit

[2021-10-14 16:23] xgui3783 commented on #138
re: digital ID , description & definition -> no strong opinion. From consumer side, it's nice to be able to show additional info

re: most important visualisation metadata for image, I somewhat agree that we should rely on data (file format). To me, visualisation feels like not a attribute of CommonCoordinateSpace, but of defaultImage (?)

[2021-10-14 16:59] xgui3783 commented on #78
has it really been a year? oO

Yes, we should

I have this issue on my todo list

[2021-10-15 07:23] lzehl commented on #138
@xgui3783 yes I should have been more explicit here. The visualization metadata would be not for the CommonCoordinateSpace but a new schema (maybe called Image) that can point to a File schema (or the other way around).

[2021-10-15 08:18] UlrikeS91 commented on #137
My thoughts to your points:

Yes, very good idea. Totally support this!

We talked about this before. I agree, but also see point 3.

Looking at this point on its own, yes, good idea. But if we combine this with point 2, wouldn't this be redundant or at least introduce a source for errors? I know that `visualizedIn` is an optional property and a `type` field would generally be very useful, but it

[2021-10-15 08:28] UlrikeS91 commented on #138
Same question as in the annotation issue: Can you elaborate on this? I'm not sure what this will be good for.

Yes, and in addition: Same for `BrainAtlas` and `BrainAtlasVersion`. Those have ISBN already, but RRID is needed. At least, the WHSSD atlas needs it ;)

No clue :D Not my field of expertise ;)

[2021-10-15 08:33] lzehl commented on #138
@UlrikeS91 thanks for your points. To elaborate on "description" for CommonCoordinateSpace: in principle a CommonCoordinateSpace is a research product (a specific dataset type). Not all CommonCoordinateSpaces we want to register are also going to be registered as a DatasetVersion (question here to make this relation explicit should we add a property: "relatedDataset"?). For this reason a short "De

[2021-10-15 08:35] Majpuc commented on #138
For experimental image data, it would be useful to have schemas capturing in-depth metadata at some point. Not only file format but i.e. pixel size, voxel size, nb channels, etc.. We actually already need this kind of metadata and don't have it.

[2021-10-15 08:39] lzehl commented on #138
@Majpuc do you already have a complete list of metadata that you need? If yes, could you provide a complete list (if possible, inlc short description of what each property means, and what value you would expect)?

[2021-10-15 08:43] Majpuc commented on #138
I will prepare such a list. Thanks!

[2021-10-15 08:45] lzehl commented on #138
@Majpuc thank you :smile:

[2021-10-15 08:49] UlrikeS91 commented on #138
@lzehl Thanks for the explanations. Yes, then it makes sense to have this additional property (as optional field?) and the idea to have a link to a related dataset would be nice, too. Maybe this should rather be "relatedPublication", though? Then is could link to other things too ;)

[2021-10-15 09:00] lzehl commented on #138
@UlrikeS91 yes it should be optional. I think "relatedPublication" is not quite correct, because that typically covers related but not necessarily matching publications. Maybe define it as "originalPublication" and then allow DOI and DatasetVersion as type?

[2021-10-15 09:01] lzehl commented on #138
And then get rid of the digitalIdentifier property, because that would be redundant.... not sure if I like that.... maybe the digitalIdentifier is actually enough? This can also lead to a DatasetVersion with that DOI no?

[2021-10-15 09:20] UlrikeS91 commented on #138
"originalPublication" sounds good (if we introduce it at all, see below).

Thinking about it, `digitalIdentifier` should be enough. DOI can obviously lead to a DatasetVersion. Only question: Is there a single use case where the digitalIdentifier would NOT be the same as the originalPublication? If the answer is no, we for sure don't need "originalPublication".

[2021-10-15 09:25] skoehnen commented on #138
I could imagine someone releasing the CoordinateSpace as a dataset and then publishing a paper at a different point in time.
That would be covered by such a setup, right?
If we say we only care about a CoordinateSpace dataset, then I agree having both `digitalIdentifier` and `originalPublication` would be redundant.

[2021-10-15 09:28] skoehnen commented on #138
@xgui3783 @lzehl would this be a good time to start a discussion about the visualization metadata in a separate issue?
I had discussions with both of you separately about this, maybe we should formalize it ;)

[2021-10-15 09:31] xgui3783 commented on #138
Can we spin this into a separate issue to keep this thread on issue?

[2021-10-15 09:34] skoehnen opened #140 "Visualisation metadata"

[2021-10-15 09:35] skoehnen commented on #138
Yes, that is what i meant, we should not discuss this here ;)
I opened #140, we can do it there.

[2021-10-15 09:36] skoehnen commented on #140
First of all, should we keep this in SANDS or does this fit more into the main repo?

[2021-10-15 10:21] lzehl commented on #138
@skoehnen @xgui3783 thanks good idea. @Majpuc when you provide the list, please do so in #140 thank you :)

[2021-10-15 11:36] aeidi89 commented on #138
Hi, I had a quick read-through, it looks good to me.

[2021-10-15 14:20] aeidi89 commented on #137
Here is my response:

How would this work in relation to coordinateSpace, would that be removed from conceptAnnotation as it is not similar in the two others?

On the go, this sound reasonable to me, however, it sound like @UlrikeS91 has a point about the redundancy regarding question 3.

In relations to probability maps this sounds reasonable. If there are an other similar example, that would als

[2021-10-15 15:28] lzehl commented on #137
@aeidi89 point 1: the extended schemas would look exactly as they look now (AtlasAnnotation would not state a CoordinateSpace since this is defined for the whole BrainAtlasVersion already).

@UlrikeS91 & @aeidi89 point 2 / 3: it is not redundant when pointing to a File in which the annotation is contained. Here I do not know what type the annotation actually is. Considering mismatches: we cannot u

[2021-10-26 08:40] xgui3783 commented on #78
I have tried my best at creating an example of a (what I imagine) to be a transformation from one space to another using protocol execution as a basis
[example_transform.tar.gz](https://github.com/HumanBrainProject/openMINDS_SANDS/files/7416527/example_transform.tar.gz)
.

[2021-11-02 16:38] UlrikeS91 opened #147 "Allow RRID as identifier for brainAtlas(Version)"
since https://github.com/HumanBrainProject/openMINDS_core/pull/242 has been merged now

[2021-11-05 08:55] #147 closed, assigned to nobody

[2021-11-25 12:45] xgui3783 opened #150 "[bug ?] coordinate points json schema discrepency?"
per https://github.com/HumanBrainProject/openMINDS_SANDS/blob/3602c70/schemas/miscellaneous/coordinatePoint.schema.tpl.json#L8-L16 and https://humanbrainproject.github.io/openMINDS/v3/SANDS/v3/miscellaneous/coordinatePoint.html , it seems `CoordinatePoint > coordinates` should be of type array, with at least 2, at most 3 items, of type `qualitativeValue`.

But the [generated json schema](https://h

[2021-11-26 14:15] xgui3783 commented on #150
perhaps related, `openMINDS/v3/SANDS/v3/atlas/commonCoordinateSpace.schema.json` > `properties` > `https://openminds.ebrains.eu/vocab/axesOrigin` > `properties` > `typeOfUncertainty` has no type. The object simple reads:

[code]

[2021-11-26 14:24] xgui3783 commented on #150
Re second issue (quoted below), I seem to have gleamed some additional information.

It appears the `_linkedTypes` infer the type?

If that is the case, shouldn't the openminds generator actually populate the schema? Yes it will signficantly increase the size of the json schema, but it is not designed to be human readable any way? in the html generated, it can still rely on the `_linkedTypes` to c

[2022-01-04 12:24] lzehl commented on #150
@xgui3783 thanks for this issue.

For the `"_linkedTypes"`: they indeed infer the type information within the openMINDS syntax. Within JSON-Schema this is resolved in referencing the respective schema type (not including it as a nested schema as it is done for `"_embeddedTypes"`). @olinux I just realized that we do not make use of `"@ref"` for linked types in the JSON-Schemas. What was the reason

[2022-02-10 10:20] MaaikevS opened #168 "Renaming WHSSD PEV instances with identical hasParent name"
This issue arises from pull request #164

Some PEV names have a parent with the same name, e.g. spinal cord, anterior commisure, facial nerve, medial lemniscus etc.

In later versions these PEV names were typically changed, so now the question is if we should enforce those changes retrospecitively and correct the earlier versions based on this naming conventions. Any thoughts? @UlrikeS91 @aeidi89

[2022-02-11 08:29] UlrikeS91 commented on #168
Thanks for raising this issue. I'm not sure what the best practice would be. My concerns are that users may mistake the ParcellationEntityVersion "anterior commissure" from WHSSD v2 as the whole thing - which it is not. It is just a part of the whole thing, but the name does not reflect that.
I'm just worried that renaming them in SANDS will lead to equally many confusions the other way around. So

[2022-02-11 11:12] lzehl commented on #168
this issue also came up for the julich-brain atlas and other atlases. How about:

Adding "definition" (optional) that gives meaning to the term would be in any case beneficial and in principle a requirement for a proper terminology. I would argue that such a definition would be version-independent.

Adding a "internalName" to a PEV would be also beneficial in case refinements/corrections are made

[2022-02-15 09:29] lzehl commented on #168
This issue was solved / implemented in #169

[2022-02-15 09:29] #168 closed, assigned to nobody

[2022-02-25 09:41] xgui3783 opened #174 "[feature request] refactoring atlas.parcellationEntityVersion.hasAnnotation"
Per discussion with @lzehl (please edit directly/comment if inaccuracy / anything missing )

There appears to be many types of annotations (deterministic vs probabilistic vs surface projection). the current `atlasAnnotation` schema does not seem to cover the needs of each:

- `displayColor` makes little sense for probabilistic annotations
- `bestViewPoint` makes little sense for surface projection

[2022-02-25 09:43] xgui3783 commented on #174
Not discussed in the meeting, but it just occurred to me that another way to approach this might be

`AtlasAnnotation` as the base schema

`ProbabilisticAtlasAnnotation` extends `AtlasAnnotation`, with
- `min` / `max`
- `bestViewPoint`

`DeterministicAtlasAnnotation` extends `AtlasAnnotation`, with
- `displayColor`
- `bestViewPoint`

etc

[2022-03-30 11:08] UlrikeS91 opened #181 "AnatomicalLocation schema - additional revision needed"
This relates to PR #179 and the many many issue raised in other repos related to that.

@skoehnen ask offline about a use case, where an annotation is made in an atlas (coordinate space). This annotation is a point (x,y,z) in the coordinate space and a user may want to add some sort of label/name to it to distinguish between different point more easily.

I think that I raise in one of the issues t

[2022-03-30 12:21] lzehl commented on #174
as alternative, since all of these are anyway optional properties I was thinking of extracting those into a separate schema or schemas.

Let's collect what we would like to have:

**centroid**
+ instead of "best view point"
+ could be kept in annotation

**displayColor**
+ does not have to be one value
+ should maybe link to a schema (colorization) or schemas (Color, Colormap)

**bestView**
+ with

[2022-03-30 12:22] lzehl commented on #150
@olinux did you have a look yet?

[2022-03-30 12:30] lzehl commented on #181
@UlrikeS91 & @skoehnen thanks for raising the issue. I disagree a bit though

The "CustomAnatomicalEntity" which has a "CustomAnnotation" was exactly meant for the use case you describe.
But so far we only covered the use case in the annotation schemas in general (custom or atlas) where the annotation is a volume or area. Annotations should cover though points, vectors etc as well. (everything you

[2022-03-31 05:15] xgui3783 commented on #174
Sounds good!

Although, I would there still be a formal way to record label index (in the case of deterministic/surface projection (?); min/max for probabilistic annotation.

This would be very much describing the data.

Perhaps a `annotationAttributes` property, with a list (0-n) of embedded items. Each item is any one of `range` (probably does not exist yet) or `value`.

Would love your feedback

[2022-03-31 10:51] lzehl commented on #174
@xgui3783 we need to make this more concrete. What attributes (key-value pairs; value can be also an array) would you like to have for what purpose? Could you make a list?

[2022-03-31 11:05] #138 closed, assigned to nobody

[2022-03-31 13:26] lzehl opened #183 "revisions of and around ANNOTATIONS"
I'm creating a joint issue for revisions of an around ANNOTATION schemas so that it is easier to see how they effect each other.
This issue joints the discussions: #137 , #174 , #181 and the PR  #179 (with [#10](https://github.com/HumanBrainProject/openMINDS_ephys/issues/10) in openMINDS_ephys)

Here a summary of the raised issues of an around the ANNOTATION schemas and how they are related:

1) *

[2022-04-19 07:42] UlrikeS91 commented on #183
Sorry about the late response to this issue! But thanks a lot for creating the joint issue. Very helpful!

I'm also leaning towards (A). I agree that (B) will be bottomless. Only downside with A is that we need to be cautions how the schema is built up to not have to revise it too often when new use cases come in (but I think we should be able to avoid that).

(A.a) fits also in relation to the at

[2022-04-29 07:28] UlrikeS91 opened #185 "Add monkey atlas to SANDS"
I have received an offline request about the following atlas that a research has used in relation to a dataset:

G. Paxinos, X.F. Huang, and A.W. Toga (2000) "The Rhesus Monkey Brain in Stereotaxic Coordinates" (Academic Press)

In this case the regions of interest are V1 & V4, but this should not matter too much. We should consider adding it to our instances.

FYI @lzehl, @tgbugs and @MaaikevS

[2022-06-14 16:25] tgbugs commented on #183
1. I think that it is possible to create a closed list of types that is manageable, at least in terms of the topology or basic geometry of the annotations. The only thing that is missing from my original document (pre AtOM) is that there can be annotations that have multiple disjoint volumes or surfaces (e.g. if you are looking at a plane of section through the rodent caudoputamen the two major po

[2022-06-15 11:29] lzehl commented on #183
Okay. Looks like we are all more or less in agreement / tend to the same direction. Let's become more concrete then. I will provide some details asap

[2022-06-21 17:22] lzehl commented on #183
**annotation types we need to handle (discussion with @tgbugs ). looking first at all aspects that define annotations**

atomic types:
+ point
+ contour
+ volume
+ area
+ surface

physical connection between multiple atomic types:
+ connected
+ disconnected

border definition:
+ boolean
+ probabilistic
+ distance based

shape
+ parametric (track only a subset of points and infer the rest)
+ non-pa

[2022-06-21 17:36] tgbugs commented on #183
A brief elaboration on the dimensions of the space. The two additional ones in addition to those above are coordinate space dimensionality and one/many.
1. coordinate space dimensionality (2d, 3d)
2. topology (point, volume, surface, etc. only one topology per annotation)
3. shape specification (parametric/non-parametric)
4. one/many (the schema should be default many i.e. an array of objects so t

[2022-06-22 08:00] xgui3783 commented on #183
maybe @fsdavid is also interested in the discussion.

[2022-06-22 08:04] xgui3783 commented on #183
personally, I am very interested to see /discuss how complex types can be built on top of the atomic types.

For example, I would be very curious to find out how to construct a:
- line segment, which seem to consist of two atomic type point, and a physical connection between the two points
- closed polygons

[2022-06-22 09:27] fsdavid commented on #183
Sure, I'm interested. I'd be happy to attend the meeting.

Also, it is interesting if it is possible to store `bounding boxes` and `spheres` in new schemas.

[2022-07-21 13:49] lzehl opened #186 "adding further shapes (as first assessment, with further extension based on use cases)"
#178 includes circle, ellipse, and rectangle

We should also add for mathematical shapes:
2D:
parallelogram
trapezoid
square
kite
rhombus
triangle

3D:
sphere
cuboid
cube
cylinder
cone
square pyramid

[2022-08-09 14:03] lzehl commented on #183
Let's try concrete suggestions for implementing this.

**Annotation concept schema** (is extended by AtlasAnnotation and CustomAnnotation, see below)
[code]
**AnnotationBorderType instances:** "deterministic", "probabilistic"
**AnnotationTopologyType instances:** "volume", "area", "surface", "point", "contour"
For **Image**, **Area**, **Contour**, **CoordinatePoint**, **Surface**, and **Volume** s

[2022-08-25 08:15] szafarnia opened #188 "New Julich-Brain Atlas Parcellation"
Dear all,

Could you please add following parcellation of Julich-Brain Atlas to KG?
Area MFG2 (MFG): cerebral cortex/frontal lobe/fronto-marginal sulcus (middle frontal gyrus area 1)
Area MFG1 (MFG): cerebral cortex/frontal lobe/middle frontal gyrus (middle frontal gyrus area 1)
Area SFS1 (SFS): cerebral cortex/frontal lobe/superior frontal sulcus (superior frontal sulcus area 1)
Area SFS2 (SFS):

[2022-08-25 09:02] lzehl commented on #188
@szafarnia thank you for this issue, but this issue should go to openMINDS_SANDS (I will move it now). For the future, could you register issues for atlas brain regions in SANDS and in the EBRAINS KG make suggestions for brain regions of atlases via "custom anatomical entity" instead of "term suggestion"?

[2022-08-25 09:09] szafarnia commented on #188
@lzehl Thank you for your feedback and information.
Should I remove these terms from “term suggestion” and register them via "custom anatomical entity"?

[2022-08-25 11:38] lzehl commented on #188
yes if you like you can do this cleanup already

[2022-08-25 11:55] szafarnia commented on #188
@lzehl Following Julich-Brain regions are now registered via "custom anatomical entity":
- JBA_Area-MFG1
- JBA_Area-MFG2
- JBA_Area-SFS1
- JBA_Area-SFS2
- JBA_AStr (amygdala)

Unfortunately, I'm not able to delete these entries from the "Term Suggestion"!

[2022-09-06 13:22] lzehl commented on #183
@ehennestad just to pin you on the issue I was telling you about. The last comment from me summarizes the concrete plan for updating the openMINDS model and also lists the open issues

[2022-09-14 10:31] skoehnen commented on #183
Hi @lzehl,

I took a look, here are some question I had:
+ Why is laterality part of the Annotation concept schema?
+ What is the difference between Area and Surface/Contour in the CustomAnnotation schema
    + Area is 2D if I've seen this correctly?
+ Would it make sense to separate Point into 2D and 3D point?

[2022-09-19 14:34] szafarnia opened #189 "New Julich-Brain Atlas Parcellation_STN"
Dear all,

Could you please add “subthalamic nucleus (STN, nucleus subthalamicus, basal ganglia, diencephalon)” as a new Julich-Brain Atlas parcellation to KG?
**Info:** I already added “JBA_STN” in KGE as “Custom anatomical entity”.

Many thanks in advance.

Best,
Sara

[2022-10-11 20:20] olinux opened #190 ""Has parent" of Brodmann Parcellation Entities not resolvable"
It seems like in Brodmann, there are several "hasParent" ids registered which are not existing. Is this going to be added at some point?

Example:

https://github.com/HumanBrainProject/openMINDS_SANDS/blob/1f74a881877c78682c40367815e056b0c49dceef/instances/atlas/parcellationEntityVersion/Brodmann_1909/BA_1909_area1.jsonld#L10

[2022-10-11 20:23] olinux opened #191 "DWMA parcellation entity instances not following a consistent id pattern"
The DWMA parcellation entity instances don't follow a consistent id pattern - please see the difference in the camelcase writing of the ParcellationEntity section. this leads to non-resolvable references.

https://github.com/HumanBrainProject/openMINDS_SANDS/blob/1f74a881877c78682c40367815e056b0c49dceef/instances/atlas/parcellationEntityVersion/DWMA_2018/DWMA_2018_externalCapsule_right.jsonld#L10

[2022-10-25 13:52] lzehl commented on #190
@olinux thanks for raising this issue. the correcting PR (#195) is on its way

[2022-10-25 14:08] lzehl commented on #191
@olinux thanks for raising the issue. the PR #196 should solve this issue.

[2022-10-25 14:37] #191 closed, assigned to nobody

[2022-10-26 12:46] lzehl commented on #188
@szafarnia at least the Parcellation Entities for these areas are now registered and should appear for usage in EBRAINS latest tomorrow. The Parcellation Entity Versions I will register with the upcoming atlas release.

[2022-10-26 12:46] #188 closed, assigned to nobody

[2022-10-26 13:49] #190 closed, assigned to nobody

[2022-10-26 13:51] #189 closed, assigned to nobody

[2022-11-17 23:12] lzehl opened #203 "parcellations to register"
- [ ]     'JulichBrain'
- [ ]     'MarsAtlas'
- [ ]     'IntrAnat-MarsAtlas'
- [ ]     'AAL1_2018'
- [ ]     'AAL2'
- [ ]     'AAL3'
- [ ]     'AICHA'
- [ ]     'Brodmann'
- [ ]     'Destrieux'
- [ ]     'DKT'
- [ ]     'Hammers'
- [ ]     'HCP-MMP1'
- [ ]     'Lausanne2008-125'
- [ ]     'Lausanne2008-250'
- [ ]     'Lausanne2008-33'
- [ ]     'Lausanne2008-60'
- [ ]     'Lausanne2008-500'

[2022-11-18 14:36] szafarnia opened #204 "New Julich-Brain Atlas Parcellations"
Dear all,

Could you please register following brain regions in SAND/EBRAINS KG?
Area 25a (sACC)
Area 25p (sACC)
Area p24a (pACC)
Area p24b (pACC)
Area pd24cd (pACC)
Area pd24cv (pACC)
Area pv24c (pACC)
Area s24a (sAAC)
Area s24b (sACC)
Lateral Accumbens, ventral Striatum (Basal Ganglia)
Medial Accumbens, ventral Striatum (Basal Ganglia)
Fundus of Caudate Nucleus, ventral Striatum (Basal Ganglia)

[2022-11-18 19:01] tgbugs commented on #203
See also for reference:
https://github.com/SciCrunch/NIF-Ontology/issues/45
https://github.com/SciCrunch/NIF-Ontology/issues/49
https://github.com/tgbugs/pyontutils/tree/master/nifstd/nifstd_tools/parcellation